* {
  margin: 0;
}

/* Category */
.category__filter div {
  padding: 2% 0%;
  text-align: center;
  font-weight: bold;
  flex-grow: 1;
  background-color: #f7f7f7;
  cursor: pointer;
}
.category__filter .active {
  border-bottom: 5px solid rgb(48, 48, 173);
}

/* Card */
.newsCard .card-img-top {
  height: 200px;
  width: 100%;
}

/* Pagination */
.pointer {
  cursor: pointer;
}

/* color */
.grey {
  color: #bdbbbb;
}
